@media (max-width: 768px) {
  h1.vlt-large-heading {
    font-size: 5.2rem;
    margin-bottom: 0rem;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .vlt-fullpage-slider .vlt-section__content {
    height: auto;
    min-height: 100dvh; /* dynamic viewport height */
    padding-bottom: 2rem;
  }
}